services:
    app.admin.news:
        class: AppBundle\Admin\NewsAdmin
        arguments: [~, AppBundle\Entity\News, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: News }
        public: true

    app.admin.newspaper:
        class: AppBundle\Admin\NewspaperAdmin
        arguments: [~, AppBundle\Entity\Newspaper, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Newspaper }
        public: true

    app.admin.crawler:
        class: AppBundle\Admin\CrawlerAdmin
        arguments: [~, AppBundle\Entity\Crawler, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Crawler }
        public: true

    app.admin.category:
        class: AppBundle\Admin\CategoryAdmin
        arguments: [~, AppBundle\Entity\Category, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Category }
        public: true

    app.news_updater:
        class: AppBundle\Services\NewsUpdater
        arguments: [ "@doctrine.orm.entity_manager"]
