<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>News Aggregator</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Hello</h1>
    </body>
</html>
